<!-- <div *ngIf="!paymentBills">
    <h2>Nenhum item encontrado...</h2>
</div> -->
<div class="container" *ngFor="let paymentBill of paymentBills">
    <div class="bills">
        <form [formGroup]="form">
            <div class="form-group items">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field class="col-100" appearance="fill">
                        <mat-label>Item</mat-label>
                        <input matInput class="form-control" formControlName="item" [(ngModel)]="paymentBill.Item">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field class="col-49" appearance="fill">
                    <mat-label>Valor</mat-label>
                        <input matInput placeholder="Ex. 10,00" formControlName="value" [(ngModel)]="paymentBill.Value"
                            class="form-control">
                    </mat-form-field>
                    <mat-form-field class="col-49" appearance="fill">
                        <mat-label>Vencimento</mat-label>
                            <input matInput formControlName="dueDate" [(ngModel)]="paymentBill.DueDate">
                    </mat-form-field>
                </div>
            </div>
        </form>            
        <div fxLayout="row" fxLayoutAlign="end center" class="buttons">
            <div fxLayout="column" class="right" fxLayoutAlign="end end" fxFlex="49">
                <button class="btn btn-lg btn-block change-color btn-danger" (click)='deleteItem(paymentBill)'>
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf='paymentBill.Status' name="Status" (click)='updateStatus(paymentBill, false)' 
                    class="btn btn-lg btn-block change-color btn-status btn-success"
                    #Status="ngModel" [(ngModel)]="paymentBill.Status" ngDefaultControl type="submit">
                    Pago
                    <mat-icon>check</mat-icon>
                </button>
                <button *ngIf='!paymentBill.Status' name="Status" (click)='updateStatus(paymentBill, true)'
                    class="btn btn-lg btn-block change-color btn-status btn-warning"
                    #Status="ngModel" [(ngModel)]="paymentBill.Status" ngDefaultControl type="submit">
                    Pendente
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>