<div class="container bills">
    <div class="spinner">
        <mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
    </div>
    <form [formGroup]="form" (ngSubmit)="ngSubmit(form)">
        <div *ngFor="let bill of paymentBills">
            <div class="form-group items">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field class="col-100" appearance="fill">
                        <mat-label>Item</mat-label>
                        <input matInput class="form-control" name="Item" placeholder="Agua, Luz, etc..." 
                            [value]="bill.Item">
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="value-duedate" fxLayoutAlign="space-around center">
                    <mat-form-field class="col-70" appearance="fill">
                    <mat-label>Valor</mat-label>
                        <input matInput class="form-control" name="Value" placeholder="Ex. 10,00" 
                            [value]="bill.Value">
                    </mat-form-field>
                    <mat-form-field class="col-30 margin-left" appearance="fill">
                        <mat-label>Vencimento</mat-label>
                        <input matInput class="form-control" name="DueDate" placeholder="Dia" 
                            [value]="bill.DueDate">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" class="buttons">
                <div class="button-row" fxLayout="column" class="right" fxLayoutAlign="end end" fxFlex="49">
                    <button mat-button (click)='deleteItem(form)'
                        class="btn btn-lg btn-block btn-status btn-danger">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button *ngIf='bill.Status' name="Status" (click)='updateStatus(bill, false)' 
                        class="btn btn-lg btn-block btn-status btn-success"    
                        [value]="bill.Status" ngDefaultControl type="submit">
                        Pago
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-button *ngIf='!bill.Status' name="Status" (click)='updateStatus(bill, true)'
                        class="btn btn-lg btn-block btn-status btn-warning"
                        [value]="bill.Status" ngDefaultControl type="submit">
                        Pendente
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="form-group items">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <div class="button-row">
                    <button color="primary">
                        Limpar tudo
                        <mat-icon>warn</mat-icon>
                    </button>
                </div>
            </div>
        </div> -->
    </form>            
</div>
