.input-group input {
    visibility: visible;
}

button {
    margin: 0 10px 0 0;
}

.col-100 {
    width: 100%;
}

.col-49 {
    width: 49%;
}

.margin-left {
    margin-left: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.right {
    float: right;
}

.buttons {
    padding-bottom: 60px;
    border-bottom: 2px solid;
}

.items {
    margin-top: 12px;
}