<div class="flex-container">
    <app-header class="app-header"></app-header>
    <app-amount class="app-amount"></app-amount>
    <div class="home-spinner">
        <mat-progress-spinner [diameter]="40" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
    </div>
    <div class="app-bill">
        <div *ngFor="let bill of paymentBills" class="bill">
            <mat-grid-list cols="4" rowHeight="20px">
                <mat-grid-tile [colspan]="4" [rowspan]="1">

                    <div class="dot" [ngClass]="{'paid': bill.Status, 'unpaid': !bill.Status}"></div>
        
                    <button class="btn-item form-control btn btn-block"
                        disabled="disabled" placeholder="Item">
                        {{bill.Item}}
                    </button>
                    <button class="btn-value form-control btn btn-block" disabled>
                        R$ {{bill.Value}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <app-create-button class="app-create-button"></app-create-button>
    <app-footer class="app-footer"></app-footer>
</div>