.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000;
  
    button {
      align-items: center;
      color: #5DB075;
      border-radius: 10px;
      width: 15%;
      &:hover {
        background-color: #fff;
      }
    }

    h2 {
      font-size: 2.5em;
    }
  }