<div class="container bills">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="success">
            <div class="success">
                <span>Cadastro efetuado com sucesso!</span>
            </div>
        </ng-container>
        <div class="form-group">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Item</mat-label>
                    <input matInput class="form-control" [(ngModel)]="paymentBill.Item" 
                        formControlName="Item" placeholder="Ex. Luz"required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                    <input matInput placeholder="Ex. R$ 10,00" name="Value" formControlName="Value" 
                    [(ngModel)]="paymentBill.Value" class="form-control" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">

                <mat-form-field appearance="outline">
                    <mat-label>Dias do Mês</mat-label>
                    <mat-select formControlName="Day" [(ngModel)]="paymentBill.DueDate" name="day">
                        <mat-option *ngFor="let day of days" [value]="day.value" required>
                        {{day.value}}
                        </mat-option>
                    </mat-select>    
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Status" required>
                        <mat-option [value]="false">Pendente</mat-option>
                        <mat-option [value]="true">Pago</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="button-row" fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary" class="btn btn-lg btn-block btn-status btn-success">
                    Adicionar
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
