<div [hidden]="!submitted">
    <h4>Item adicionado com sucesso!</h4>
</div>
<div class="container bills">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Item</mat-label>
                    <input matInput class="form-control" [(ngModel)]="paymentBill.Item" 
                        formControlName="Item" placeholder="Ex. Luz"required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                    <input matInput placeholder="Ex. R$ 10,00" name="Value" formControlName="Value" 
                        class="form-control" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">

                <mat-form-field appearance="outline">
                    <mat-label>Vencimento</mat-label>
                        <input matInput formControlName="DueDate" name="DueDate"
                            placeholder="Ex. 05" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Status" required>
                        <mat-option [value]="false">Pendente</mat-option>
                        <mat-option [value]="true">Pago</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="button-row" fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary">
                    Adicionar
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
