<div class="container bills">
    <form [formGroup]="form" (submit)="onSubmit()">
        <ng-container *ngIf="success">
            <div class="success">
                <span>Cadastro efetuado com sucesso!</span>
            </div>
        </ng-container>
        <div class="form-group">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Item</mat-label>
                    <input matInput class="form-control"  
                        formControlName="item" placeholder="Ex. Luz" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                    <input matInput placeholder="Ex. R$ 10,00" name="value" formControlName="value" 
                     class="form-control" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Mês</mat-label>
                    <mat-select formControlName="month" name="month">
                        <mat-option *ngFor="let month of months" [value]="month.description" required>
                        {{ month.number }} - {{ month.description }}
                        </mat-option>
                    </mat-select>    
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Dias do Mês</mat-label>
                    <mat-select formControlName="dueDate" name="dueDate">
                        <mat-option *ngFor="let day of days" [value]="day.value" required>
                        {{ day.value }}
                        </mat-option>
                    </mat-select>    
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="status" required>
                        <mat-option [value]="false">Pendente</mat-option>
                        <mat-option [value]="true">Pago</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="button-row" fxLayout="row" fxLayoutAlign="end center">
                <button mat-button color="primary" class="btn btn-lg btn-block btn-status btn-success">
                    Adicionar
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
