<div class="footer">
    <button class="circle"  *ngFor="let month of months" 
    [ngClass]="month.number === currentMonth ? 'selected': ''"
    (click)="onMonthButtonClick(month.number)">
        {{ month.description }}
</button>

    <!-- <mat-tab-group [backgroundColor]="'accent'" (selectedTabChange)="getBills($event)">
        <span *ngFor="let month of months" class="circle">
           <mat-tab class="mat-tab-color" [label]='month.description'></mat-tab>
        </span>
   </mat-tab-group> -->
</div>